@import url('destyle.css');

header {
    padding: 15px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
    color: #392421;             /* ダークブラウン（知性・歴史感） */
    background-color: #e2ddca;  /* パーチメントベージュ（古文書風） */
}

.total-result {
    background-color: #e7e7e7;
    margin: 15px;
    border-radius: 6px;
    padding:15px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.result {
    background-color: #ffffff;
    margin: 15px 6px;
    border-radius: 6px;
    padding:15px 8px;
}

ul {
  list-style: none;
}

main {
    margin:20px 0px 50px 0px;
}

.quiz {
    text-decoration: underline;
    margin-bottom: 15px;
}

.choices {
    margin:4px 6px;
}

.kaitou {
    margin-top: 15px;
}

.res {
    margin-top:15px;
}

.correct {
    color: red;
}

.correct_count {
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    color:red;
    font-weight: bold;
}

.btn-group {
    display:flex;
    gap:40px;
    margin-top:45px;
    justify-content: center;
    margin-bottom: 40px;
}


.button {
    display: inline-block;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 9999px;
    font-family: "Courier New", Courier, monospace;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(0); /* 初期状態 */
}

.btn1 {
    color:#ffffff;
    background-color: rgb(45, 45, 255);
}


.btn2 {
    color:#ffffff;
    background-color: rgb(255, 31, 31);
}

.attention {
    padding-left: 15px;
    font-size: 14px;
    margin-bottom: 50px;
}

@media (max-width:768px) {
    .btn-group {
        gap: 20px;
    }
    .button {
        font-size: 16px;
        padding: 15px 15px;
    }
}