<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>世界史クイズアプリ</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header>
        <h1>毎日の世界史クイズ【5問】</h1>
    </header>
    <main>
        <div class="image">
            <img class="home-image" src="../static/images/home.png" alt="home画像">
        </div>
        <div class="btn-group">
            <div class="btn btn1">
                <a class="button button1" href="{{ url_for('index') }}">初級問題</a>
            </div>
            <div class="btn btn2">
                <a class="button button2" href="{{ url_for('intermediate') }}">中級問題</a>
            </div>
        </div>
        <p class="attention">※このアプリはベータ版です。</p>
        <p class="attention2" style="color:red; font-weight:bold;">
        ⚠️ <br>1つのウィンドウまたはタブでのみ使用してください。<br>
        複数開くと正常に動作しなくなる可能性があります。
        </p>

    </main>
</body>
</html>